html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightskyblue;
}

.center {
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  /* code source: https://www.w3schools.com */ 
}

#layout {
  display: grid;
    grid-template-areas:
    'header header header'
    'nav main main'
    'main main main'
    'footer footer footer'
    }

    #d1 {
        border: 5px solid black;
        font-size: 20pt;
        text-align: center;
        background-color: lightskyblue;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #d2 {
        border: 5px solid black;
        font-size: 20pt;
        text-align: center;
        background-color: lightskyblue;
        grid-column-start: 1;
        grid-column-end: 3;
        
      
    }
    #d3 {
        border: 5px solid black;
        font-size: 20pt;
        text-align: center;
        background-color: lightskyblue;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #d4 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 5px solid black;
        font-size: 20pt;
        text-align: center;
        background-color: lightskyblue;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #d5 {
        border: 5px solid black;
        font-size: 15pt;
        text-align: center;
        background-color: lightskyblue;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    table {
      border: 1px solid black;
      font-family: serif;
      font-size: 1.5em;
      
    }

    th {
      border: 1px solid black;
      background-color: black;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    td {
      border: 1px solid black;
      color: darkblue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    header {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    nav {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    main {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    footer {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .i1 {
      background-color: rgb(255, 80, 80);
    }

    .i2 {
      background-color: rgb(102, 255, 80);
    }

    